@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

a:active,
a:hover,
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1296px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 90px;
  display: flex;
}
.borders {
  border-right: 1px solid rgba(196, 196, 196, 0.3);
}

.relative {
  position: relative;
}
.absolute {
  background-color: #4fbfa5;
  position: absolute;
  height: 700px;
  width: 3000px;
  left: -700px;
  z-index: -1;
}
.absolute__wrapper {
  background-color: #00868a;
  position: absolute;
  height: 350px;
  width: 3000px;
  left: -700px;
  top: -80px;
  z-index: -1;
  opacity: 0.1;
}

.logo {
  width: 260px;
  border-left: 1px solid rgba(196, 196, 196, 0.3);
}
.tel {
  width: 185px;
}
.address__number {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.our-saloons {
  width: 200px;
}
.our-saloons__text {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 15px;
}
.blind {
  width: 330px;
}
.blind__button {
  background-color: #00868a;
  height: 40px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  border: none;
  cursor: pointer;
}
.blind__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.blind__img {
  margin-right: 10px;
}
.social-media {
  width: 320px;
  display: flex;
}
.social-media__img {
  width: 80px;
}

.main {
  margin-bottom: 100px;
}

.nav-text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.navigation {
  height: 87px;
  width: 1086px;
  padding: 0 71px 0 60px;
}
.navigation__list {
  width: 954px;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-block__button {
  width: 195px;
  padding: 0 10px 0 10px;
}
.top-block__button__button {
  width: 175px;
  cursor: pointer;
  border: none;
  height: 40px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.cosmetology {
  display: flex;
  justify-content: space-between;
}
.cosmetology__wrapper {
  width: 490px;
  padding: 132px 60px 60px 0;
}

.cosmetology__header {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: white;
  margin-bottom: 20px;
}
.cosmetology__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  width: 420px;
  margin-bottom: 40px;
}
.cosmetology__button {
  width: 163px;
  height: 50px;
  background-color: #00868a;
  cursor: pointer;
  border: none;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.cosmetology__arrows {
  height: 74px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.services {
  display: flex;
  justify-content: space-between;
}

.services-text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.services__procedures {
  width: 648px;
  height: 80px;
  background-color: #00868a;
}

.services__education {
  width: 324px;
  height: 80px;
  background-color: #4fbfa5;
}

.services__vip {
  width: 324px;
  height: 80px;
  background-color: #00868a;
}

.news-and-recommendation {
  display: flex;
}
.news {
  min-width: 526px;
  background-color: #4fbfa5;
}
.news-wrapper__button {
  font-family: "Gilroy-Regular";
  background-color: #00868a;
  width: 101px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.news-wrapper {
  padding: 35px 0 30px 40px;
}
.list-of-news-text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
.list-of-news__opinion {
  padding: 35px 40px 35px 40px;
  background-color: #00868a;
}
.list-of-news__standards {
  padding: 35px 40px 35px 40px;
}
.list-of-news__personal {
  padding: 35px 40px 35px 40px;
}
.recommendation-wrapper {
  background-color: antiquewhite;
  padding: 35px 60px 0 60px;
}
.recommendation_title {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 25px;
}
.recommendations {
  padding-left: 20px;
}
.recommendation_list {
  margin-bottom: 14px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.news-and-recommendation {
  margin-bottom: 100px;
}

.special-offers-wrapper {
  padding-top: 80px;
}

.special-offers {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  color: #00868a;
  margin-bottom: 60px;
}
.offers {
  display: flex;
  justify-content: space-between;
}
.offer {
  width: 306px;
  height: 343px;
  position: relative;
}
.offer__figcaption {
  background-color: #00868a;
  padding: 25px 30px 25px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  font-family: "Gilroy-Regular";
  color: #ffffff;
  display: flex;
  margin-top: -3px;
}
.offer__text {
  margin-right: 15px;
}
.offer_cosmetology {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 148px;
  height: 40px;
  background-color: #4fbfa5;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Gilroy-Regular";
}

.address {
  display: flex;
  flex-direction: column;
}
.services {
  display: flex;
}
.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  width: 923px;
  margin-bottom: 14px;
}
.services__second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 51px;
}
.service {
  width: 224px;
}

.service__header {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 20px;
}
.service__list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-family: "Gilroy-Regular";
  color: #000000;
  margin-bottom: 15px;
}

.address__title,
.address__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 10px;
}

.address__telephone,
.address__text {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  color: #000000;
}

.address_first,
.address__second,
.address__third {
  margin-bottom: 30px;
}
.address__text {
  margin-bottom: 15px;
}
.address__button {
  background-color: #00868a;
  border: none;
  width: 164px;
  height: 45px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Gilroy-Regular";
}
.services__wrapper {
  max-width: 850px;
}
.address {
  min-width: 306px;
  margin-top: 11px;
}

.footer__navigation {
  background-color: white;
}
.law__left {
  width: 300px;
}
.law__right {
  text-decoration-line: underline;
}
.law-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  font-family: "Gilroy-Regular";
}
.law-wrapper {
  padding: 20px 71px 16px 25px;
  display: flex;
  justify-content: space-between;
  width: 549px;
  align-items: center;
}
.footer__navigation {
  height: 90px;
  display: flex;
  border-left: 1px solid rgba(196, 196, 196, 0.3);
  border-top: 1px solid rgba(196, 196, 196, 0.3);
}
